/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #fff;
  font-size: 40px;
}

img {
  max-height: 200px;
  padding-top: 20px;
}

a {
  text-decoration: none;
}
/* utilities*/
.text-center {
  text-align: center;
}

.only-desktop {
  display: none;
}

/* header */
.nav .main-menu {
  display: none;
}

@media screen and (min-width: 992px) {
  .nav .main-menu {
    display: block;
    line-height: 60px;
  }
  .nav .main-menu li {
    display: inline-block;
    padding: 0 10px;

  }

  .nav .main-menu a {
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
  }

  .nav .main-menu li:hover {
    background-color: black;
  }

  .nav .main-menu a:hover {
    color: #fff;
  }
}

header .jumbotron {
  position: relative;
  height: 400px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
}

.jumbotron .main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumbotron .main-title p {
  color: #fff;
  padding: 20px 0;
}

main .top-main {
  margin-top: 30px;
}

/* main center */
main section .main-center {
  position: relative;
  margin-bottom: 200px;
  height: 300px;
  background-image: url("../img/helbiz-banner.jpg");
  background-size: cover;
  background-position: left center;
}

section .main-center .col-left,
section .main-center .col-right {
  margin-top: 330px;
}

section .main-center .col-left {
  text-align: right;
}

section .main-center .col-left .text {
  display: inline-block;
  text-align: left;
}

@media screen and (min-width: 992px) {
  .only-desktop {
    display: block;
  }

  .only-desktop .iphone {
    margin-top: 210px;
    text-align: center;
  }
}

/* main bottom */
section .main-bottom {
  height: 300px;
  background-image: url("../img/scooter-bg.jpg");
  background-size: cover;
}

section .main-bottom .text {
  position: relative;
  top: 70px;
}

section .main-bottom h3 {
  color: #fff;
  font-size: 35px;
}

section .main-bottom p {
  color: #fff;
  margin: 10px 0;
}

section .main-bottom a {
  color: #fff;
}

section .final-main .left {
  margin-top: 50px;
  padding-top: 25px;
  background: linear-gradient(to top, #41566a, #252f38);
}

section .final-main a, p, h3 {
  color: #fff;
}

section .final-main .right {
  height: 320px;
  padding-top: 25px;
  margin-top: 50px;
  background-image: url(../img/cities.jpg);
}

main .social {
  position: relative;
  background-image: url("../img/social-banner.jpg");
  background-size: cover;
  height: 300px;
}

main .social .helbiz-family {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 70px;
}

main .social .helbiz-family h3 {
  color: black;
}

main .social .helbiz-family i {
  font-size: 25px;
  padding: 10px 5px;
}
